
.parallax {
  /* The image used */
  background-image: url("../img/computers.png");

  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-card{
  background-color: white;
  padding: 5%;
  border-radius: 2%;
}

iframe{
  border-bottom-left-radius: 2%;
   border-bottom-right-radius: 2%
}

@media (max-width:767px){

  .borderPhoneCorrection{
    margin-top: -3.2%;
  }

  .headingCorrection{
    font-size: x-large;
  }
}

